@font-face {
    font-family: arcade;
    src: url("arcadeFont.ttf");
}

body {
    background: black;
    font-family: arcade;
}

h1 {
    color: white;
    text-align: center;
}

h1 a {
    color:white;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

h3 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

.clear {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.scoreP1 {
    color: pink;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreP2 {
    color: skyblue;
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1Val {
    color: white;
    text-align: center;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p2Val {
    color: white;
    text-align: center;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1 {
    background: pink;
}

.p2 {
    background: skyblue;
}

.game-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
}

.box {
    border: white solid;
}

.glowP2 {
    text-shadow: 0px 0px 15px skyblue, 0px 0px 15px skyblue;
}

.glowP1 {
    text-shadow: 0px 0px 15px pink, 0px 0px 15px pink;
}